[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterhub = "*"
jupyterlab = "*"
ipython = "*"
pandas = "*"
sudospawner = "*"

[dev-packages]

[requires]
python_version = "3.10"
